<header>
    <div class="logo"><img src="/img/logoPng.png" alt=""></div>
    <div class="menu">
        <a href="/log">Entre </a>
        <a href="/cadastro">Cadastre-se </a>
        <a href="/carrinho"><img class="carrinho" src="img/vivo-carrinho-esquerda-320x320.png" alt=""> </a>
    </div>
</header>